<div class="sidenav-center">
  <div class="sidenav">
    <a class="subject-title" href="#"><%= @subject.name %></a>
    <% @all_classes.each_with_index do |cont, index| %>
      <button data-target="<%= index %>" class="dropdown-btn"><%= cont.name.capitalize %>
        <i class="fa fa-caret-down"></i>
      </button>
      <div id="<%= index %>" class="dropdown-container">
        <a href="#">Aulas</a>
        <a href="#">Exercicios</a>
        <a href="#">Dúvidas</a>
      </div>
    <% end %>
  </div>
  <div class="content video-center">
    <div class="lecture-container">
      <ul class="list-inline tabs-underlined">
        <li>
          <a  data-target="lecture" class="tab-underlined active">Aulas</a>
        </li>
        <li>
          <a  data-target="exercises" class="tab-underlined">Exercicios</a>
        </li>
        <li>
          <a  data-target="slide" class="tab-underlined">Slides</a>
        </li>
      </ul>
      <div class="tabs">
        <div id="lecture" class="tabinho tab-active">
          <%= get_vimeo_iframe(8802771) %>
        </div>
        <div id="exercises" class="tabinho">
          <%= get_vimeo_iframe(8802771) %>
        </div>
        <div id="slide" class="tabinho">
          <%= get_vimeo_iframe(8802771) %>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  const links = document.querySelectorAll(".tab-underlined")
  links.forEach((link) => {
    link.addEventListener("click", function(){
      const active = document.querySelector(".tab-active")
      active.classList.remove('tab-active')
      const paint = document.querySelector(".active")
      paint.classList.remove('active')
      const idSelected = link.dataset.target
      const selected = document.getElementById(idSelected)
      selected.classList.add('tab-active');
      link.classList.add('active')
    });
  });
  // const dropdowns = document.querySelectorAll(".dropdown-btn")
  // const dropdownsContainers = document.querySelectorAll(".dropdown-containerrr")
  // dropdowns.forEach((drop) => {
  //   drop.addEventListener("click", function(){
  //     dropdowns.forEach((close) => {
  //       close.classList.remove('active')
  //     });
  //     dropdownsContainers.forEach((dropcont) => {
  //       dropcont.style.display = 'none'
  //     });
  //     const clickedId = drop.dataset.target
  //     const clicked = document.getElementById(clickedId)
  //     console.log(clicked)
  //     drop.classList.add('active')
  //     clicked.style.display = 'block'
  //   });
  // });
</script>




