<div class="sidenav-center">
  <div class="sidenav">
    <a class="subject-title" href="#"><%= @subject.name %></a>
    <% @all_classes.order(:order).each_with_index do |cont, index| %>
      <button data-target="<%= index %>" class="dropdown-btn"><%= cont.name.capitalize %>
        <i class="fa fa-caret-down"></i>
      </button>
      <div id="<%= index %>" class="dropdown-container">
        <a href="#">Aulas</a>
        <a href="#">Exercicios</a>
        <a href="#">Dúvidas</a>
      </div>
    <% end %>
  </div>
  <div class="content video-center">
    <div class="lecture-container">
      <ul class="list-inline tabs-underlined">
        <li>
          <a  data-target="lecture" class="tab-underlined active"><i class="fas fa-video"></i></i> Aulas</a>
        </li>
        <li>
          <a  data-target="exercises" class="tab-underlined">Exercicios</a>
        </li>
        <li>
          <a  data-target="slide" class="tab-underlined"><i class="far fa-file-pdf"></i>Slides</a>
        </li>
      </ul>
      <div class="tabs">
        <div id="lecture" class="tabinho tab-active">
          <%= get_vimeo_iframe(8802771) %>
        </div>
        <div id="exercises" class="tabinho">
          <div class="flashcard-container">
            <div id="flashcard">
              <div class="cardSlideIn">
                <div class="flashcard-game-card-front">
                  <div class="flashcard-game-card bg-white">
                    <div class="flashcard-game-card-header">
                      <div class="flashcard-game-card-title">
                        <!--?xml version="1.0" encoding="UTF-8"?-->
                        <h4 class=""><%= @subject.name %></h4>
                      </div>
                    </div>
                    <% @content.exercises.order(:order).each do |exe|%>
                    <div class="flashcard-game-card-content">
                      <div class="flashcard-game-card-content-markdown">
                        <p><%= exe.question %></p>
                      </div>
                      <textarea class="form-control" autofocus="" placeholder="Digite aqui a sua resposta"></textarea>
                      <textarea class="form-control hidden-text answer animated" autofocus="" disabled><%= exe.answer %></textarea>
                      <a class="btn btn-primary button-answer" >Veja Resposta</a>
                    </div>
                    <% end %>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="slide" class="tabinho">
          <iframe class="pdf_adjust" src="<%= @content.pdf %>",style="/* max-width: calc(133.333vh); *//* height: calc(75vw); */"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

</script>







