<!-- Navbar Starling INICIO -->

<div class="c_header c_header--v6 c_header--desktop c_header--ia c_header--ia- ud-app-loader ud-app-loaded" data-module-id="header-v6" data-module-priority="-10">
  <div class="c_header__inner" >
    <div class="c_header__logo-container">
      <a class="c_header__logo-wrap" href="/"><%= image_tag("sosprovasverede.png", class: "udemy-logo", width: "115", height: "60") %></a> <!-- class="udemy-logo" width="110" height="32" -->
    </div>
    <div class="c_header__left">

      <div class="c_header__search-wrapper">
        <div class="c_header__search">
          <div class="c_quick-search__form pos-r">
            <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
              <div class="search-form-control form-group">
                <input class="form-control string required" type="text" placeholder="Pesquise a sua materia" onkeyup="myFunction()" name="search[query]" id="search_query"><span></span>
                <button name="button" type="submit" class="btn btn-primary flex-center">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="c_header__right">
      <!-- Barrinha vertical de separação -->
      <div class="visible-lg-block visible-xl-block header-right-divider"></div>

      <!-- Logo do carrinho de compra -->

      <% if user_signed_in? %>
        <div class="dropdown cart">
          <button type="button" class="btn btn-demo" data-target="#myModal2" data-toggle="modal">
            <i class="fas fa-shopping-cart" style="font-size: 26px"></i>
          </button>
        </div>
        <!-- inicio carrinho -->
        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" style="z-index: 99999;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <header class="app__cart__header">
                <a href="#close">
                  <i class="i-close"></i>
                </a>
                <h4>
                  <% unless current_user.cart.nil? %>
                    <span>Matérias(<%= current_user.cart.cart_subjects.count %>)</span>
                  <% end %>
                </h4>
                <a href="#help">
                  <i class="i-question-circle-o"></i>
                </a>
              </header>
              <% total = 0 %>
              <% unless current_user.cart.nil? %>
                <% current_user.cart.cart_subjects.each do |subj| %>
                  <div class="app__cart__item">
                    <div class="app__cart__item__container">
                      <div class="app__cart__item__image">
                          <!-- <%= cl_image_tag subj.subject.photos.first.key %> -->
                      </div>
                      <div class="app__cart__item__info">
                        <a class="app__cart__item__name" ><%= subj.subject.name %></a>
                        <div class="app__cart__item__options">
                          <div class="app__cart__item__price">
                            <span class="is-numeric">R$ <%= subj.subject.price %>,00</span>
                            <% total = total + subj.subject.price %>
                          </div>
                          <%= link_to cart_subject_path(subj), method: :delete, data: {:confirm => "You sure?" } do  %>
                            <i class="fas fa-trash"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <footer class="app__cart__footer">
                <div class="app__cart__footer__total">
                  <span>Total a pagar</span>
                  <span class="is-numeric">R$ <%= total %>,00</span>
                </div>
                <div class="app__cart__footer__actions">
                  <form action="<%= carts_path %>">
                    <input class="btn btn-primary" type="submit" value="Ir para pagamento" />
                  </form>
                </div>
              </footer>
            </div>
          </div><!-- modal-dialog -->
        </div><!-- modal -->
        <!-- fim carrinho -->
        <div class="dropdown">
          <div>
            <%= link_to "Minhas Materias", destroy_user_session_path, method: :delete, class: "btn btn-quaternary" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
          </div>
        </div>
        <% else %>
        <div class="dropdown">
          <div>
            <form action="/users/sign_up">
              <button type="submit" class="btn btn-quaternary cadastrar-margin-right">Cadastre-se</button>
            </form>
          </div>
        </div>
        <div class="dropdown">
          <div>
            <form action="/users/sign_in">
              <button  type="submit" class="btn btn-primary">Entrar</button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
