<div class="main-content">
  <!-- banner principal inicio-->
  <div class="notice-streamer">
    <div class="carousel-fullscreen-sidebar">
      <div class="notice-streamer__content">
        <div class="notice-streamer__headline">
          Aprenda no seu ritmo
        </div>
        <div class="notice-streamer__text">
          Estude qualquer matéria, a qualquer hora. Escolha uma de nossas materias e seja aprovado!
        </div>
        <a class="btn btn-flat btn-lg btn-block" href="#courses">Descubra as nossas aulas</a>
      </div>
    </div>
  </div>

  <!-- Banner autoridade-->
  <div class="authority-container">
    <div class="authority carousel-fullscreen-sidebar">
      <div class="authority__col">
        <div class="authority__text">
          <b>Aprenda a sua materia mais rápido</b>
          <div class="authority__sub-title">
           Com resumos direto ao ponto.
          </div>
        </div>
      </div>

      <div class="authority__col">
        <div class="authority__text">
          <b>Mais de 300 exercécios</b>
          <div class="authority__sub-title">
            Com resolução na hora para você testar o seu conhecimento
          </div>
        </div>
      </div>

      <div class="authority__col">
        <div class="authority__text">
          <b>Mais de 150 horas de aulas gravadas</b>
          <div class="authority__sub-title">
            Para você aprender como e onde quiser
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- courses infos -->
  <div id="courses" class="subjects-title">
    Para ser aprovado em qualquer materia, conte com o Sos Provas!
  </div>
  <div class="container">
    <div class="cards row d-flex justify-content-center">
      <% @courses.each do |course| %>
        <%= link_to course_path(course), class: 'link' do %>
          <div class="card-features">
            <div class="opacity-icon"><%= course.icon.html_safe %></div>
            <div class="card-feature-title">
              <h2><strong style="font-size: 32px;"><%= course.name %></strong></h2>
            </div>
            <div class="card-feature-content">
              <p><%= course.description %></p>
            </div>
            <div class="card-feature-btn">
              <a class="btn btn-primary" href="/courses/<%= course.id %>">Ir para o Curso</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Testimonials -->
  <div class="testimonial-title">
    O que os nossos alunos têm a dizer
  </div>
  <div class="container d-flex">
    <div class="row row-testimonials">

      <div class="card-testimonial col-sm-12 col-md-6 col-lg-3">
        <div class="review">
          <img alt="Paula" height="64" width="64" src="https://res.cloudinary.com/masterbi/image/upload/v1591141775/SOS-Provas/muiezinha_nchm7k.jpg">
          <div>
            Paula Starling
            <div class="sub-title">Estudante de Economia do IBmecs</div>
          </div>
        </div>
        <div class="testimonial-content">
          SOS Provas salvou meu semestre. Estava perdida, desesperada e sem saber como estudar!
        </div>
      </div>

      <div class="card-testimonial col-sm-12 col-md-6 col-lg-3">
        <div class="review">
          <img alt="Lucas" height="64" width="64" src="https://i.udemycdn.com/user/100x100/22869844_edad.jpg">
          <div>
            Lucas Bertucci
            <div class="sub-title">Estudante de Engenharia da PUUC</div>
          </div>
        </div>
        <div class="testimonial-content">
          Acredito no aprendizado de longo prazo, e o Sos Provas é uma ótima plataforma para aprender com especialistas. Aprendi muito e recomendo a todos os meus amigos.
        </div>
      </div>

      <div class="card-testimonial col-sm-12 col-md-6 col-lg-3">
        <div class="review">
          <img alt="Vitor" height="64" width="64" src="https://i.udemycdn.com/user/100x100/31841220_f398_2.jpg">
          <div>
            Vitor Galizzi
            <div class="sub-title">Estudante de Medicina da CMGG</div>
          </div>
        </div>
        <div class="testimonial-content">
          Obrigado, Sos Provas! Você renovou minha paixão pela engenharia, me ensinando de um jeito didatico, foi íncrivel.
        </div>
      </div>
    </div>
  </div>
</div>

