<div class="container corrector">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="cdp__highlight-box padding-32">
        <h3 class="mc-text-h3 margin-bottom-08"><%= @subject.name %></h3>

        <!-- Imagem de capa -->
        <div class="margin-top-bottom-24">
          <%= cl_image_tag @subject.photo.key, width: "100%" %>
        </div>

        <!-- Parte com imagem miniatura na esquerda e conteúdo -->
        <div class="card-all-videos">
          <% @subject.contents.each_with_index do |cont, index| %>
            <div class="row margin-top-bottom-08">
              <div class="col-2 d-none d-sm-block">
                <%= cl_image_tag cont.photo.key, class: "mc-img-responsive" %>
              </div>
              <div class="col">
                <h6 class="mc-text-h6 margin-bottom-04"> <%= index + 1 %>. <%= cont.name.capitalize %></h6>
                <p class="opacity--hinted"> <%= cont.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Parte da direita com Monitor e botão de compra -->
    <div class="col-12 col-md-4">
      <div class="cdp__highlight-box monitor-card padding-32">
        <div class="row margin-bottom-18">
          <div>
            <img class="border-radius-50 width-64" src="https://www.masterclass.com/course-images/images/3307/original/1570215115-AW_primary_1x1.jpg" alt="1570215115-AW_primary_1x1">
          </div>
          <div class="col">
            <h6><strong>Silvia Almeida</strong></h6>
            <p>Ensina a arte da anatomia</p>
          </div>
        </div>
        <p class="opacity--hinted">Silvia Almeida é uma acadêmica de medicina da Faculdade Ciências Médicas de Minas Gerais.</p>
        <div class="separator mc-mt-8 margin-bottom-24"></div>
        <div class="cdp__sidebar-cta mc-text--center">
          <!-- <p class="mc-text-x-small">Acesse essa aula</p> -->
          <%= link_to "Veja a primeira aula", course_subject_content_path(@course , @subject, @content), class: "btn btn-primary btn-block" %>
          <p class="mc-text-x-small margin-bottom-12"><p>Veja essa aula por apenas: <%= humanized_money_with_symbol(@subject.price) %></p></p>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'subject_id', @subject.id %>
            <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
