<div class="adjust">
  <div class="half-left">
    <h1 class="text-center">Mude a sua vida aprenda <%= @course.name.downcase %> e seja aprovado!</h1>
    <p class="text-center"><%= @course.description %></p>
    <div class="cta-container text-center">
      <a class="btn btn-flat btn-lg width-50" href="#subjects">Descubra as nossas materias</a>
    </div>
  </div>

  <div>
    <%= cl_image_tag @course.photo.key, height: 600, width: 600 %>
  </div>
</div>

<div id="subjects" class="container mx-auto">
  <div class="cards-subject">
    <div class="row">
      <% Subject.all.select{ |sub| sub.courses.include?(@course) }.each do |subject| %>
        <div class="col-4">
          <%= link_to course_subject_path(@course, subject), class: "link" do %>
            <div class="card-subject">
              <%= cl_image_tag subject.photo.key, height: 190, width: 280 %>
              <div class="card-subject-content ">
                <div>
                  <h2><%= subject.name %></h2>
                  <p>32 horas de aula</p>
                  <p>54 exercícios exclusivos</p>
                  <p>⭐️⭐️⭐️⭐️⭐️ (4.7)</p>
                  <div class="text-center mt-2">
                    <a class="btn btn-primary btn-block" href="/courses/<%= @course.id %>/subjects/<%= subject.id %>">Ver mais</a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
