<div class="container mx-auto col-sm-12 col-md-6 col-lg-4">
<h2 class="centralizar2">Registrar</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :course, label: 'Curso',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "course" },
                collection: Course.all %>
        <%= f.input :password, label: 'Senha',
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: 'Confirme sua senha',
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Cadastrar", class: 'btn btn-primary full-large2' %>
      </div>
    <% end %>

</div>
